<!-- it has a nav bar ( employee page , schedule management , logout) -->
<nav class="d-flex flex-row justify-content-between align-items-end position-relative">
    <img id="mrcoffee-white-logo" class="position-absolute shadow-lg" src="/images/mrcoffee-white.png">
    <p class="mb-0 shadow-lg">Mr. Coffee Schedule App</p>
    <div>
        <a class="mx-4 shadow-lg" href="/home">Home</a>
        <a class="mx-4 shadow-lg" href="/schedules">Schedule Management</a>
        <a class="ms-4 shadow-lg" href="/logout">Logout</a>
    </div>
</nav>