<!-- it has a nav bar ( employee page , schedule management , logout) -->
<nav>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="#">Schedule Management</a></li>
        <li><a href="#">Logout</a></li>
    </ul>
</nav>