* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: rgb(51, 51, 51);
  display: flex;
  justify-content: flex-end;
  height: 7.5vh;
  position: sticky;
  align-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

ul {
  list-style: none;
  display: flex;
  margin: 0 5%;
  column-gap: 3rem;
}

ul a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #fff;
}

main {
  width: 80%;
  margin: 0 auto;
}

table,
th,
td {
  margin: 0 auto;
  border: 1px solid black;
  padding: 1rem;
  border-collapse: collapse;
  text-align: center;
}
