<!-- Login page (form ) with singup option . on success will redirect to home page 
and on failure will show login errors -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
</body>
</html>